doctype html
html(lang="fr")
  head
    title Test
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, viewport-fit=cover, initial-scale=1.0")
    block extrastuff
  body
    main.main
      block content
    
    block script
